:root {
    --color-normal-dark: #5f676c;
    --color-white: #fff;
    --color-white-alpha-04: rgba(255, 255, 255, 0.4);
    --color-highlight: #ff7c46;
    --color-normal-alpha-08: rgba(126, 131, 135, 0.8);
    --color-white-alpha-02: rgba(255, 255, 255, 0.2);
    --color-white: #fff;
    --color-black-alpha-03: rgba(0,0,0,0.3);
    --color-white-alpha-03: rgba(255, 255, 255, 0.3);
    --color-black: #444;
    --color-grey: #58595b;
    --color-black-alpha-08: rgba(0,0,0,0.8);
    --color-black-alpha-06: rgba(0,0,0,0.6);
    --color-black-alpha-02: rgba(0,0,0,0.2);
    --color-black-alpha-05: rgba(0,0,0,0.5);
    --color-black-alpha-01: rgba(0,0,0,0.1);
    --color-black-alpha-04: rgba(0,0,0,0.4);
    --color-light: #ccc;
    --color-normal: #7e8387;
    --color-white-grey: #efefef;
    --color-normal-light: #979ca0;
    --color-grey-light: #aaa;
}

.loading-wall .top,
.loading-wall .bottom {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: var(--color-white-grey);
    transition: 1s;
    z-index: 10;
}

.loading-wall .top {
    top: 0;
}

.loading-wall .bottom {
    bottom: 0;
}

.loading-wall.hide-wall .top,
.loading-wall.hide-wall .bottom {
    height: 0;
}

.text-effect-show {
    background-image: linear-gradient( 
        90deg, 
        #000000 0%,
        #000000 30%,
        #ffffff 50%,
        #ffffff 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 1000% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip1 2s linear forwards;
    display: inline-block;
    background-position: 60% center;
}

@keyframes textclip1 {
    to {
      background-position: 0% center;
    }
}

.text-effect-loop-1 {
    background-image: linear-gradient( 
        90deg, 
        var(--color-highlight) 0%,
        var(--color-highlight) 30%,
        #ffffff 50%,
        var(--color-highlight) 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 700% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip2 2s linear infinite;
    display: inline-block;
    background-position: 60% center;
    font-weight: 700!important;
}

@keyframes textclip2 {
    to {
      background-position: -60% center;
    }
}

.overlay-menu {
    width: 100%;
    height: 0;
    background: linear-gradient(180deg,var(--color-black-alpha-08) 0,var(--color-black-alpha-06) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: .3s;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}

.header-top {
    background: linear-gradient(90deg,var(--color-white),var(--color-white-alpha-04));
}

.header-top-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 0;
}

.header-top-main .left img.logo {
    width: 220px;
}

.text-header-top {
    background-image: linear-gradient( 
        90deg, 
        var(--color-normal-dark) 0%,
        var(--color-normal-dark) 30%,
        #ffffff 50%,
        #ffffff 100%
    );
    font-size: 15px;
    font-family: Montserrat,sans-serif;
    font-weight: 500;
}

.header-top-main .left{
    display: flex;
}

.header-top-main .right img{
    width: 220px;
}

.header-top-main .slogan{
    padding-top: 30px;
    padding-left: 40px;
}

.header-bottom-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-bottom {
    background-color: rgb(0 0 0 / 40%);
    box-shadow: 0 10px 30px var(--color-black-alpha-02);
    backdrop-filter: blur(10px);
    position: relative;
}



.header-bottom .menu-left {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: -10px;
}

.header-bottom .menu-left li {
    position: relative;
}

.header-bottom .menu-left a {
    text-decoration: none;
    color: var(--color-white);
    display: block;
    font-size: 13px;
    padding: 10px 12px;
    line-height: 1.4;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s;
    font-family: Montserrat,sans-serif;
}

.header-bottom .menu-left li:last-child>a {
    border-bottom: none;
}

.header-bottom .menu-left a:hover {
    background-color: var(--color-highlight);
}

.header-bottom .menu-left .sub-menu-1 {
    position: absolute;
    width: 500%;
    left: 0;
    top: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transform: matrix3d(1,0,0,0,0,0,1,.008,0,-1,0,0,0,0,0,1);
    transform-origin: center top 0;
    transition: .3s;
    background-color: var(--color-normal-alpha-08);
}

.header-bottom .menu-left li:hover .sub-menu-1 {
    transform: unset;
}

.header-bottom .menu-left li:hover ~ .overlay-menu {
    height: 100%!important;
    opacity: 1!important;
}

.header-bottom .menu-left .sub-menu-1 a {
    font-weight: 700;
    font-size: 18px;
    border-bottom: 1px solid var(--color-black-alpha-03);
    padding: 10px 20px;
}

.header-bottom .menu-left .sub-menu-1 a:hover {
    background-color: unset;
}

.header-bottom .menu-left .sub-menu-2 a {
    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
    color: var(--color-white);
    display: block;
    white-space: nowrap;
    background-color: var(--color-white-alpha-03);
    padding-top: 15px;
    padding-bottom: 15px;
}

.header-bottom .menu-left .sub-menu-2 a:hover {
    background-color: var(--color-white-alpha-03);
}

.header-bottom .menu-left .sub-menu-2,
.header-bottom .menu-left .sub-menu-3 {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.header-bottom .menu-left .sub-menu-2 .icon {
    font-size: 9px;
    padding: 0 7px 0 2px;
}

.header-bottom .menu-left .sub-menu-3 {
    display: none;
}

.header-bottom .menu-left .sub-menu-3 a {
    border-bottom: unset;
    padding: 15px 0 15px 40px;
    background-color: var(--color-normal-alpha-08);
}

.header-bottom .menu-left .sub-menu-3 a:hover {
    background-color: var(--color-black);
}

.hight-light-item {
    background-color: var(--color-highlight)!important;
}

.item-submenu-2 a {
    padding: 50px 0;
}

.item-submenu-2-a .fa-chevron-down{
    display: none;
}

.active-down-plus .fa-chevron-down {
    display: inline-block;
}

.active-down-plus .fa-plus {
    display: none;
}

.header-bottom .menu-right .sub-menu-1 {
    display: none;
}

.header-bottom .right .menu-right {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}



.header-bottom .right .menu-right li a {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    height: 100%;
    padding: 10px 12px;
    font-family: Montserrat,sans-serif;
}

.header-bottom .right .menu-right li a:hover {
    background-color: var(--color-highlight);
}

.header-bottom .menu-end {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    list-style-type: none;
}

.header-bottom .menu-end a {
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-white);
    height: 100%;
    padding: 7px 12px;
    font-family: Montserrat,sans-serif;
}

.header-bottom .menu-end .search a {
    transform: rotateY(180deg);
}

.header-bottom .menu-end .search {
    position: relative;
}

.header-bottom .menu-end .search .search-box {
    position: absolute;
    right: -580px;
    top: 105%;
    background-color: var(--color-highlight);
    padding: 17px;
    width: 530px;
    transition: .3s;
}

.header-bottom .menu-end .search .search-box input,
.header-bottom .menu-end .search .search-box input::-webkit-input-placeholder {
    font-family: Montserrat,sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-white);
    width: 97%;
}

.background-hight-light {
    background-color: var(--color-highlight);
}

.active-search-box {
    right: -180%!important;
}


.wrap-slider {
    height: 100vh;
    width: 100%;
    position: relative;
}

.wrap-slider .slider {
    height: 100%;
    width: 100%;
}

.wrap-slider .swiper-slide img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider .process-circle {
    width: 100%;
    height: 100%;
    background: rgb(202, 202, 202);
    border-radius: 999px;
    position: relative;
    border-radius: 9999px;
}

.slider .process-circle .circle {
    width: 100%;
    height: 100%;
    background: conic-gradient(var(--color-highlight) 0deg, rgb(255, 255, 255) 0deg);
    border-radius: 9999px;
}

.slider .process-circle .round {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 255, 255);
    border-radius: 9999px;
}

.swiper-pagination {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 17px;
    padding-right: 75px;
}

.slider span.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 5px!important;
    opacity: 1;
}

.slider span.swiper-pagination-bullet .process-circle .circle,
.slider span.swiper-pagination-bullet .process-circle .round {
    opacity: 0!important;
}

.slider span.swiper-pagination-bullet-active .process-circle .circle,
.slider span.swiper-pagination-bullet-active .process-circle .round {
    opacity: 1!important;
}

.slider .swiper-button-next,
.slider .swiper-button-prev {
    color: white;
}

.slider .swiper-button-prev {
    left: 40px!important;
}

.slider .swiper-button-next {
    right: 40px!important;
}

.slider .wrap-slider-content {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.slider .wrap-slider-content .content {
    font-family: Montserrat,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: transparent;
    font-size: 3.6vw;
    font-weight: 700;
    text-transform: uppercase;
}

.slider .wrap-slider-content .text-center {
    height: 80px;
    display: flex;
}

.slider .wrap-slider-content .wrap-link {
    background: var(--color-highlight) url(../images/zoom.svg) no-repeat 50%/80%;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 15px 30px var(--color-black-alpha-02);
    display: block;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    text-decoration: none;
    color: white;
    position: relative;
    transition: 1s;
    opacity: 0;
}

.slider .wrap-slider-content .wrap-link:hover {
    border: 5px solid var(--color-highlight);
    background-color: var(--color-normal-dark);
}

.slider .wrap-slider-content .wrap-link::before,
.slider .wrap-slider-content .wrap-link::after {
    content: "";
    background-color: var(--color-highlight);
    width: 0;
    height: 1px;
    position: absolute;
    transition: 1s;
}

.slider .wrap-slider-content .wrap-link::before {
    right: 80px;
}

.slider .wrap-slider-content .wrap-link::after {
    left: 80px;
}

.swiper .swiper-slide-active .wrap-link {
    opacity: 1!important;
    width: 50px!important;
    height: 50px!important;
}

.swiper .swiper-slide-active .wrap-link::before,
.swiper .swiper-slide-active .wrap-link::after {
    width: 100px;
}

.mouse-scroll-down {
    position: absolute;
    width: 30px;
    right: 20px;
    bottom: 20px;
    z-index: 10;
    opacity: .6;
}

.mouse-scroll-down img {
    width: 100%;
}

.text-effect-show-slider {
    background-image: linear-gradient( 
        90deg, 
        #ffffff 0%,
        #ffffff 30%,
        #ffffff00 50%,
        #ffffff00 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 1000% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip1 3s linear forwards;
    display: inline-block;
    background-position: 60% center;
}

.out-standing {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: var(--color-white-grey);
}

.card-1 {
    font-family: Montserrat,sans-serif;
    display: block;
    text-decoration: none!important;
    position: relative;
    background-color: var(--color-normal);
    transition: .4s;
}

.card-1 .wrap-top {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
}

.card-1 .wrap-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: .4s;
}

.card-1 .wrap-top img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-1 .wrap-top .wrap-date {
    background-color: var(--color-normal);
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    padding: 5px 10px;
    font-weight: 100;
    font-size: 36px;
    color: var(--color-white);
    line-height: 1;
    text-align: center;
    z-index: 1;
    transition: .4s;
}

.card-1 .wrap-top .wrap-date div:last-child {
    font-weight: 500;
    font-size: 10px;
    color: var(--color-white-grey);
}

.card-1 .wrap-bottom {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--color-white);
    text-transform: uppercase;
    line-height: 1.6;
    font-weight: 400;
}

.card-1 .wrap-top::before {
    content: "";
    width: 40px;
    height: 40px;
    background-color: var(--color-normal);
    position: absolute;
    bottom: -24px;
    left: 4%;
    z-index: 1;
    transform: rotate(45deg);
    transition: .4s;
}

.card-1:hover .wrap-img {
    transform: scale(0.96);
}

.card-1:hover,
.card-1:hover .wrap-top::before,
.card-1:hover .wrap-top .wrap-date {
    background-color: var(--color-normal-dark)!important;
}

.card-alert-1 {
    display: flex;
    align-items: center;
    position: relative;
    font-family: Montserrat,sans-serif;
    text-decoration: none!important;
    padding: 4px 0;
    transition: .4s;
}

.card-alert-1:hover {
    background-color: var(--color-normal);
}

.card-alert-1:hover .right .content {
    color: var(--color-white);
}

.card-alert-1 .left {
    width: 20%;
}

.card-alert-1 .wrap-date {
    background-color: var(--color-normal);
    padding: 5px 10px;
    font-weight: 100;
    font-size: 36px;
    color: var(--color-white);
    line-height: 1;
    text-align: center;
    z-index: 1;
    transition: .4s;
    display: inline-block;
    position: relative;
}

.card-alert-1 .wrap-date::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: var(--color-normal);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(40%, -50%) rotate(45deg);
    z-index: -1;
}

.card-alert-1 .wrap-date div:last-child {
    font-weight: 500;
    font-size: 10px;
    color: var(--color-white-grey);
}

.card-alert-1 .right .content {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-grey);
    padding-right: 15px;
    transition: .4s;
}

.out-standing .wrap-all-card-alert {
    padding-top: 5px;
}

.out-standing .wrap-all-card-alert .card-alert-1 {
    margin: 10px 0;
}

.out-standing .big-button-1 {
    margin-top: 15px;
}

.big-button-1 {
    font-family: Montserrat,sans-serif;
    text-decoration: none!important;
    display: block;
    font-size: 36px;
    line-height: 1.2;
    color: var(--color-normal);
    font-weight: 100;
    text-transform: lowercase;
    text-align: center;
    background-color: var(--color-white);
    padding: 10px 20px;
    transition: .4s;
}

.big-button-1:hover {
    background-color: var(--color-highlight);
    color: var(--color-white);
}

.out-standing .card-2 {
    height: 650px;
}

.card-2 {
    display: inline-block;
    text-decoration: none;
    position: relative;
    width: 100%;
    background-color: red;
    font-family: Montserrat,sans-serif;
    background-color: var(--color-normal-dark);
}

.card-2 .wrap-image {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .4s;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.card-2:hover .wrap-image {
    transform: translate(-50%, -50%) scale(0.96);
}

.card-2:hover .wrap-content div:last-child {
    background-color: var(--color-normal-dark);
}

.card-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-2 .wrap-content {
    position: absolute;
    z-index: 2;
}

.card-2 .wrap-content {
    position: absolute;
    bottom: 10px;
    left: 12px;
}

.card-2 .wrap-content div:first-child {
    font-size: 36px;
    line-height: 1.4;
    font-weight: 700;
    display: block;
    color: var(--color-white);
    text-transform: uppercase;
}

.card-2 .wrap-content div:last-child {
    font-size: 14px;
    line-height: 1.6;
    font-weight: 500;
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--color-normal);
    color: var(--color-white);
    text-transform: uppercase;
    transition: .4s;
}

.title-1 {
    font-family: Montserrat,sans-serif;
    font-weight: 700;
    font-size: 36px;
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-highlight);
}

.design-award {
    padding: 40px 0;
}

.design-award .title-1 {
    padding-bottom: 20px;
}

.card-3 {
    text-decoration: none;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-normal-dark);
    transition: .4s;
    width: 100%;
    height: 850px;
}

.card-3 .wrap-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.card-3 .wrap-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-3 .wrap-image .wrap-detail {
    font-family: Montserrat,sans-serif;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #6f777c;
    padding: 12px 20px;
    font-size: 14px;
    font-weight: 500;
    color: var(--color-white);
    transition: .4s;
    transform: translateY(100%);
}

.card-3:hover {
    padding: 15px;
}

.card-3:hover .wrap-image .wrap-detail {
    bottom: 0!important;
    transform: translateY(0);
}

.title-and-youtube {
    display: flex;
    align-items: center;
}

.title-and-youtube img {
    width: 270px;
}

.title-and-youtube .title {
    text-decoration: none;
    display: inline-block;
    padding: 7px 0 7px 25px;
    margin-left: 25px;
    border-left: 1px solid var(--color-black-alpha-05);
    color: var(--color-black-alpha-05);
    font-size: 18px;
    color: var(--color-black);
    font-weight: 500;
    transition: .4s;
}

.title-and-youtube .title:hover {
    color: var(--color-highlight);
}

.youtube-out-standing .wrap-logo-youtube {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.youtube-out-standing {
    background-color: var(--color-white-grey);
    padding: 50px 0;
}

.card-youtube-1 {
    text-decoration: none!important;
    transition: .4s;
    overflow: hidden;
    position: relative;
    background-color: var(--color-white-grey);
}

.card-youtube-1 .data-aos {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    background-color: var(--color-white-grey);
}

.card-youtube-1:hover {
    box-shadow: 6px 6px 10px 0 var(--color-black-alpha-01);
    background: var(--color-black-alpha-04);
}

.card-youtube-1:hover .title {
    color: var(--color-white);
}

.card-youtube-1:hover .wrap-image img{
    transform: scale(1.1);
}

.card-youtube-1 .wrap-image {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    padding-top: 60%;
    overflow: hidden;
}

.card-youtube-1 .wrap-image img {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: .4s;
}

.card-youtube-1 .wrap-title img {
    height: calc(75/100*70px);
    width: 70px;
    bottom: 10px;
    left: 10px;
}

.card-youtube-1 .wrap-title {
    display: flex;
    color: var(--color-black);
    font-size: 15px;
    font-weight: 500;
    padding: 5px 15px;
}

.card-youtube-1 .wrap-title .title {
    position: relative;
    padding: 10px 15px;
    margin-left: 5px;
    text-transform: capitalize;
    transition: .4s;
}

.card-youtube-1 .wrap-title .title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 1px;
    height: 20px;
    transform: translateY(-50%);
    background-color: var(--color-black-alpha-05);
}

.youtube-out-standing .wrap-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

footer {
    padding: 20px 0;
    margin: 0;
    background-color: var(--color-normal);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

footer .item-app {
    height: 50px;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    transition: .4s;
}

footer .item-app:hover {
    background-color: var(--color-normal-dark);
}

footer .wrap-social {
    padding: 10px;
}

footer .item-social {
    padding: 0 5px;
}

footer .item-social img {
    width: 40px;
    height: 40px;
}

footer .copyright {
    width: auto;
    height: auto;
    padding: 20px 20px 20px 0;
    color: var(--color-light);
    text-align: left;
    font-weight: 400;
    font-size: 10px;
    line-height: 1.6;
    text-transform: uppercase;
    max-width: 280px;
    font-family: Montserrat,sans-serif;
}

.mobile-right-menu {
    display: none;
}

footer .wrap-licence img {
    width: 140px;
}

[data-aos="left-to-right"] {
    left: 0;
  
    &.aos-animate {
        left: 100%;
    }
}

[data-aos="right-to-left"] {
    right: 0;
  
    &.aos-animate {
        right: 100%;
    }
}

@media screen and (max-width: 1214px) {
    .header-top {
        background: white;
    }

    .mobile-right-menu {
        display: flex;
        align-items: center;
    }

    .header-top-main .right {
        display: flex;
        align-items: center;
    }

    .mobile-right-menu .wrap-search-mobile {
        color: var(--color-normal);
        font-size: 20px;
        padding: 10px;
    }

    .language {
        color: var(--color-normal);
        font-size: 16px;
        padding: 10px 0 10px 10px;
        font-family: Montserrat,sans-serif;
        font-weight: 700;
    }
}

.button-menu {
    width: 50px;
    height: 22px;
    cursor: pointer;
    position: relative;
    margin-left: 20px;
}

.button-menu div {
    position: absolute;
    left: 0;
    height: 2px;
    background-color: var(--color-normal-light);
    pointer-events: none;
    transform-origin: center;
    transition: .5s;
}

.button-menu div:nth-child(2) {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.button-menu div:nth-child(1),
.button-menu div:nth-child(3) {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.button-menu div:nth-child(1) {
    top: 0;
}

.button-menu div:nth-child(2) {
    top: 10px;
}

.button-menu div:nth-child(3) {
    top: 20px;
}

.active-mobile-menu-button div:nth-child(2) {
    opacity: 0;
    left: 80%;
    transform: translateX(-50%);
}

.active-mobile-menu-button div:nth-child(3) {
    transform: rotate(315deg) translate(-50%, -50%);
    transform-origin: top left;
    top: 50%;
}

.active-mobile-menu-button div:nth-child(1) {
    transform: rotate(45deg) translate(-50%, -50%);
    transform-origin: top left;
    top: 50%;
}

.wrap-mobile-menu-list {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--color-normal);
    z-index: 10;
    transition: .4s;
}

.active-mobile-menu-list {
    right: 0!important;
}

.wrap-mobile-menu-list .menu-main,
.wrap-mobile-menu-list .sub-menu-1,
.wrap-mobile-menu-list .sub-menu-2 {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: Arial,Helvetica,sans-serif;
    font-weight: 400;
}

.wrap-mobile-menu-list .menu-main {
    background-color: var(--color-black);
}

.wrap-mobile-menu-list .menu-main a {
    text-decoration: none!important;
    border-bottom: 1px solid var(--color-black-alpha-03);
    padding: 15px 20px;
    background-color: var(--color-grey-light);
    font-weight: 700;
    color: var(--color-white);
    line-height: 1.4;
    text-transform: uppercase;
    display: block;
}

.wrap-mobile-menu-list .sub-menu-1 {
    background-color: var(--color-black);
}

.wrap-mobile-menu-list .sub-menu-1 a {
    padding: 15px 20px 15px 15px;
    background-color: var(--color-white-alpha-02);
    font-size: 14px;
}

.wrap-mobile-menu-list .a-item-sub-menu-1 .down {
    display: none;
}

.wrap-mobile-menu-list .active-sub-menu-1 .down {
    display: inline-block;
}

.wrap-mobile-menu-list .active-sub-menu-1 .plus {
    display: none;
}

.wrap-mobile-menu-list .sub-menu-1 a span {
    padding-right: 10px;
    font-size: 10px;
}

.wrap-mobile-menu-list .sub-menu-2 {
    display: none;
}

.wrap-mobile-menu-list .sub-menu-2 a {
    font-size: 14px;
    padding: 18px 20px 18px 30px;
    text-transform: inherit;
    font-weight: 700;
    white-space: unset;
}

@media screen and (max-width: 1485px) {
    .header-bottom .right .menu-right {
        padding-right: 78px;
    }
}

@media screen and (max-width: 1214px) {
    header .header-bottom {
        display: none;
    }

    .header-top-main .left img.logo {
        width: 200px;
    }
}

@media screen and (max-width: 790px) {
    .header-top-main .slogan {
        display: none;
    }
}

@media screen and (max-width: 857px) {
    .header-top-main .slogan {
        padding-left: 20px;
    }
}

@media screen and (max-width: 616px) {
    .header-top-main .right .image-partner{
        width: 170px;
    }
}

@media screen and (max-width: 570px) {
    .image-partner {
        display: none;
    }
}
/* .out-standing,
.design-award,
.youtube-out-standing,
footer {
    display: none;
} */

/* body[data-aos-duration='4000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='4000'] {
    transition-duration: 4000ms;
} */